<div class="row">
    <div class="col-sm-12 ">
        <div class="panel panel-default">
            <div class="panel-heading">Заказ</div>
            <div class="panel-body">
                <div>
                    <form class="form-inline" ng-submit="submit()" name="orderForm">
                        <details open="">
                            <summary><b>Информация о клиенте</b></summary>
                            <p/>
                            <p>ФИО: {{customer.firstName}} {{customer.midName}} {{customer.lastName}}</p>
                            <p/>
                            <p>Email: {{customer.email}}</p>
                            <p/>
                            <p>Телефон: {{customer.phone}}</p>
                            <p/>
                            <p>Адрес: {{customer.country}},
                                {{customer.region}}
                                {{customer.district}},
                                {{customer.city}},
                                {{customer.address}}</p>
                        </details>
                        <p/>

                        <details open="">
                            <summary><b>Заказ</b></summary>
                            <table class="table table-striped">
                                <tr>
                                    <td>Наименование товара</td>
                                    <td>Количество</td>
                                    <td>Стоимость</td>
                                    <td style="display:none"></td>
                                </tr>
                                <tbody>
                                <tr ng-repeat="c in cart.items">
                                    <td>{{c.productName}}</td>
                                    <td>{{c.quantity}}</td>
                                    <td>{{c.costPerProduct}} x {{c.quantity}} = {{c.cost}}</td>
                                </tr>
                                <tr>
                                    <td>Итого</td>
                                    <td></td>
                                    <td>{{cart.totalCost}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </details>
                        <div class="form-group">
                            <span class="label label-info">Способ получения</span>
                            <select ng-options="type as type.title for type in types" class="form-control" ng-model="appOrder.deliveryType" id="type" name="type" ng-change="changeType()"></select>
                        </div>
                        <div class="form-group">
                            <span class="label label-info">Пункт выдачи</span>
                            <select ng-options="point as point.title for point in points" class="form-control" ng-model="appOrder.pickUpPoint" id="point" name="point" disabled></select>
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="sendOrder()">Оформить заказ</button>
                        <div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>
                    </form>
            </div>
        </div>
    </div>
</div>